doctype html
html(lang="en")
  head
    title Landing Page
  body
    h1 Exercise blog
    p Oat cake candy canes macaroon wafer candy lemon drops. Fruitcake liquorice tiramisu cheesecake tiramisu marzipan sweet. Candy cookie chocolate cake wafer lollipop. Cookie dessert muffin brownie. Pie dragée powder gummies ice cream jujubes jelly-o jelly lemon drops. Tart bear claw bonbon chocolate cake apple pie chocolate cake jelly-o chupa chups. Croissant ice cream jelly apple pie croissant.